<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData[Title] - Food Fun Supermarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/supermarket.css" asp-append-version="true">
</head>

<body>
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
        <a href="#" class="navbar-brand text-light mt-5">
            <div class="display-5 font-weight-bold">Market</div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">
            <li class="nav-item w-100">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-light pl-4">Back to web site</a>
            </li>
            <li class="nav-item w-100">
                <a asp-area="Supermarket" asp-controller="Home" asp-action="Index" class="nav-link text-light pl-4">Supermarket Home</a>
            </li>
            <li class="nav-item dropdown w-100">
                <a href="#" class="nav-link dropdown-toggle text-light pl-4" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                    <li>
                        <a asp-area="Supermarket" asp-controller="Product" asp-action="All" class="dropdown-item text-light pl-4 pl-2">All Products</a>
                    </li>
                    <li>
                        <a asp-area="Supermarket" asp-controller="Product" asp-action="Add" class="dropdown-item text-light pl-4 pl-2">Add Product</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown w-100">
                <a href="#" class="nav-link dropdown-toggle text-light pl-4" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Product Categories
                </a>
                <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                    <li>
                        <a asp-area="Supermarket" asp-controller="ProductCategory" asp-action="All" class="dropdown-item text-light pl-4 pl-2">All Categories</a>
                    </li>
                    <li>
                        <a asp-area="Supermarket" asp-controller="ProductCategory" asp-action="Add" class="dropdown-item text-light pl-4 pl-2">Add Category</a>
                    </li>
                </ul>
            </li>
            @*<li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">Contact</a>
            </li>*@
        </ul>
    </nav>

    <section class="p-4 my-container">
        <button class="btn my-4" id="menu-btn">Toggle Sidebar</button>
        @RenderBody()
    </section>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/be25d551c7.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>