@model IEnumerable<ProductCategoryListingModel>

@{
    ViewData[Title] = "All Categories for product";
}

@if (TempData[nameof(Error)] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData[nameof(Error)]
    </div>
}

<div class="row">
    <div class="offset-3 col-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Products in category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Title</td>
                        <td>@category.ProductsCount</td>
                        <td>
                            <a asp-area="" asp-controller="ProductCategory" asp-action="Edit" asp-route-categoryid="@category.Id" class="btn btn-warning">Edit</a> |
                            <a>Disable</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>