body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #3ca7d8;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
        background-color: #ffffff26;
    }

.dropdown-menu {
    background-color: #3ca7d8;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #5a9ad6;
    color: #fff;
}

    #menu-btn:focus {
        box-shadow: 0 0 0 0.25rem #527cb344;
    }
