@model DishFormModel

@{
    ViewData[Title] = "Add Dish";
}

<div class="row">
    <div class="offset-xl-3 col-xl-6">
        <h1 class="text-center">@ViewData[Title]</h1>

        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="Name" class="mb-1"></label>
                <input asp-for="Name" class="form-control" placeholder="Chicken soup">
            </div>
            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="mb-1"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="https://...">
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="mb-1"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="mb-1"></label>
                <input asp-for="Price" class="form-control" placeholder="8.99">
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="mb-1"></label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Best dish ever..."></textarea>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}*@