@model TableSizeEditModel

@{
    ViewData[Title] = "Edit size";
}

<div class="row">
    <div class="offset-xl-3 col-xl-6">
        <h1 class="text-center">@ViewData[Title]</h1>

        <form method="post">
            <div class="form-group mb-3">
                <input type="hidden" asp-for="Id" value="@Model.Id" />

                <label asp-for="Seats" class="mb-1"></label>
                <input asp-for="Seats" class="form-control" placeholder="1, 2, 3..." value="@Model.Seats">
                <span asp-validation-for="Seats" class="text-danger"></span>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
