<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Title] - Food Fun Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a asp-area="Restaurant" asp-controller="Home" asp-action="Index" class="navbar-brand">Food Fun Order</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars text-light"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                        <li class="nav-item text-center mx-2 mx-lg-1">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">
                                Back to web site
                            </a>
                        </li>
                        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dishes
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a asp-area="Restaurant" asp-controller="Dish" asp-action="Add" class="dropdown-item">Add Dish</a></li>
                                <li><a asp-area="Restaurant" asp-controller="Dish" asp-action="All" class="dropdown-item">All Dishes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dish Categories
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a asp-area="Restaurant" asp-controller="DishCategory" asp-action="Add" class="dropdown-item">Add Category</a></li>
                                <li><a asp-area="Restaurant" asp-controller="DishCategory" asp-action="All" class="dropdown-item">All Categories</a></li>
                            </ul>
                        </li>
                        <li class="nav-item text-center mx-2 mx-lg-1">
                            <a asp-area="Restaurant" asp-controller="Reservation" asp-action="Index" class="nav-link">
                                Reservations
                            </a>
                        </li>
                        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tables
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a asp-area="Restaurant" asp-controller="Table" asp-action="All" class="dropdown-item">All Tables</a></li>
                                <li><a asp-area="Restaurant" asp-controller="Table" asp-action="Add" class="dropdown-item">Add Table</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Table Sizes
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a asp-area="Restaurant" asp-controller="TableSize" asp-action="All" class="dropdown-item">All Sizes</a></li>
                                <li><a asp-area="Restaurant" asp-controller="TableSize" asp-action="Add" class="dropdown-item">Add Size</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Table Positions
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a asp-area="Restaurant" asp-controller="TablePosition" asp-action="All" class="dropdown-item">All Positions</a></li>
                                <li><a asp-area="Restaurant" asp-controller="TablePosition" asp-action="Add" class="dropdown-item">Add Position</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main class="mt-4">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/be25d551c7.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>