@model ProductFormModel

@{
    ViewData[Title] = "Add Product";
}

<div class="row">
    <div class="offset-xl-3 col-xl-6">
        <h1 class="text-center">@ViewData[Title]</h1>

        <form method="post">
            <div class="text-center">
                <img class="rounded img-fluid" id="image"/>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="mb-1"></label>
                <input asp-for="Name" class="form-control" placeholder="Bananas">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="mb-1"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="https://..." id="imageInput">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="mb-1"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <partial name="_ProductCategoryPartial" model="category"/>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="mb-1"></label>
                <input asp-for="Price" class="form-control" placeholder="8.99">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="mb-1"></label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Best product ever..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
