@if (this.User.IsInRole(Administrator))
{
    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Home" asp-action="Index" >To Admin</a></li>

    @*
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarWhiteDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dishes
        </a>
        <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarWhiteDropdownMenuLink">
            <li><a class="dropdown-item" asp-area="" asp-controller="Dish" asp-action="Add">Add Dish</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Dish" asp-action="All">All Dishes</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="DishCategory" asp-action="Add" >Add Category</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="DishCategory" asp-action="All">All Categories</a></li>
        </ul>
    </li>*@
}