<li class="nav-item">
    <a asp-area="Products" asp-controller="Manage" asp-action="All" class="nav-link text-dark">All Products</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark">Dishes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark">Reserve Table</a>
</li>