@if (!this.User.HasClaim(x => x.Type == ClaimTypes.Role) &&
     this.User.HasClaim(x => x.Type == ClaimTypes.Name))
{
    <partial name="_UserLinksPartial"/>
}
else if (this.User.IsInRole(GlobalConstants.Roles.Administrator))
{
    <li class="nav-item">
        <a asp-area="Products" asp-controller="Manage" asp-action="Add" class="nav-link text-dark">Add Product</a>
    </li>
}
else if (this.User.IsInRole(GlobalConstants.Roles.RestaurantManager))
{
}
else if (this.User.IsInRole(GlobalConstants.Roles.OrderManager))
{
}