<li class="nav-item">
    <a class="nav-link text-dark">Add Dish</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark">Add Table</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark">Reserved Tables</a>
</li>