<li class="nav-item">
    <a asp-area="" asp-controller="Product" asp-action="All" class="nav-link text-dark">All Products</a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Dish" asp-action="All" class="nav-link text-dark" >All Dishes</a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Reservation" asp-action="Index" class="nav-link text-dark">Free Tables</a>
</li>