<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="All">All Products</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Dish" asp-action="All">All Dishes</a>
</li>