@model IEnumerable<ProductCategoryListingModel>

@{
    ViewData[Title] = "All Categories";
}

<partial name="_ErrorMessagePartial"/>

<div class="row">
    <div class="offset-3 col-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Products in category</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Title</td>
                        <td>@category.ProductsCount</td>
                        <td>
                            <a asp-area="Supermarket" asp-controller="ProductCategory" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a> |
                            <a>Disable</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>